@import 'nib';


*{
    padding:0;
    margin:0;
  }
  body{
   background-color:#f5f7fd;
   overflow-x: hidden;
  }
  
  
      .search:hover{
        transform: scale(1.3);
        transition: transform .5s ease;
  
      }
      .btn button{
        background:#e43c5c;
        padding:10px;
        border:none;
        color:#ffffff;
        border-radius:4px;
  
      }
      .ideas-heading h3{
        font-family: Merriweather,"Times New Roman",Times,serif;
      font-size: 34px;
      line-height: 40px;
      font-weight: 700;
      margin-top:70px;
      text-align: center;
      color:#000000;
      }
      .homeSection_text{
        font-size: 18px;
      line-height: 26px;
      color: #8c8c8c;
      }
      .ideas_line{
        content: "";
      border-bottom: 1px solid #dcdcdc;
      width: 100px;
      display: inline-block;
      margin-bottom: 25px;
      }
      
      .ideas{
        display:flex;
        flex-direction: row;
        align-items: center;
        margin-left: 15%;
        
  
      }
      @media (max-width: 1500px) {
    .ideas {
      
      margin-left: 0;
    }
  }
      @media (max-width: 800px) {
    .ideas {
      flex-direction: column;
      margin-left: 0;
    }
  }
      .ideas img{
        margin: 50px;
        border-radius: 50%;
      }
      .ideas p{
        margin-top: -30px;
        color:#000000;
      }
      img a:hover p{
        color:#e43c5c;
      }
      .advantages::before{
        content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: 59px;
      height: 39px;
      background: url(../images/olive_branch.png) no-repeat center;
      }
      .advantages{
        font-family: Merriweather,"Times New Roman",Times,serif;
      font-size: 34px;
      line-height: 40px;
      font-weight: 700;
      margin-top:70px;
      text-align: center;
      color:#000000;
      }
      
  .advantages_img{
    display:flex;
    flex-direction:row;
  }
  .newsletter{
    background: url(img/news.PNG);
    width:100%;
  }
  .newsletter h3{
    font-family: Merriweather,"Times New Roman",Times,serif;
      font-size: 34px;
      line-height: 40px;
      font-weight: 700;
      margin-top:70px;
      text-align: center;
      color:#000000;
  }
  .form-inline-custom .input-group-btn > .btn{
  border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
  }
  .form-inline-custom .input-group-btn .btn {
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
  }
  
   .btn-rounded {
      color: #fff;
      background-color: #fed267;
      border-color: #151515;
      background-repeat: no-repeat;
      position: relative;
      transform: translateZ(0);
      border-radius: 4px;
  }
  .btn:not(.shadow-drop-darker) {
      box-shadow: none !important;
  }
  .btn {
      min-width: 144px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      padding: 15px 19px;
      font-size: 14px;
      line-height: 1.5;
      border-radius: 0;
      border-width: 2px;
      text-transform: uppercase;
      letter-spacing: .06em;
      transition: .3s ease-out;
      max-height: 54px;
  }
   .linear-icon:before {
      background-image: linear-gradient(to right, #fed267 0%, #cf9b48 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
   .icon:before {
      position: relative;
      display: inline-block;
      font-weight: 400;
      font-style: normal;
      speak: none;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .linearicons-calendar-empty:before {
      content: "\ea85";
  }
  #read-more{
    width:100%;
    height:50px;
    background:#ededed;
    bottom: 0;
    text-align: center;
    padding-top:10px;
    color:#474749;
    font-weight: 700;
      font-family: "Montserrat", sans-serif;
      transition: background 1s;
      
  }
  .news{
    width: 90%; 
    margin-left:10%;
  }
  @media (max-width: 800px) {
     .news{
      width: 90%; 
      margin-left:-100px;
    }
  }
  #read-more-span{
    width:10%;
    height:50px;
    background: #000000;
  }
  #read-more:hover{
    background: #fed267;
    color:#ffffff;
   
    
  }
  .vendor{
    border:none;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    color:#8c8c8c;
    border-top-left-radius: 10rem;
    border-bottom-left-radius:10rem ;
    border-right: none;
  }
  .vendor2{
    border:none;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    color:#8c8c8c;
    margin-left: -3px;
    
    
  }
  .search_btn{
    border:none;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    color:#8c8c8c;
    margin-left: -3px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius:10rem ;
  color:#ffffff;
   background: #e43c5c;
  }
  .search_btn:hover{
    background:#fed267;
  }
  @media (max-width: 800px) {
    .vendor{
    border:none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:0px;
    color:#8c8c8c;
    border-top-left-radius: 10rem;
    border-bottom-left-radius:10rem ;
    border-right: none;
  }
  .vendor2{
    border:none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    color:#8c8c8c;
    margin-left: -3px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius:10rem ;
    
  }
  .search_btn{
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    color:#8c8c8c;
    margin-left: -3px;
    border-top-left-radius: 10rem;
    border-bottom-left-radius:10rem ;
    border-top-right-radius: 10rem;
    border-bottom-right-radius:10rem ;
  color:#ffffff;
  margin-top: 10%;
   background: #e43c5c;
  }
  }
  .wrapper {
      display: flex;
      width: 100%;
  }
  
  #sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 999;
      background: #7386D5;
      color: #fff;
      transition: all 0.3s;
  }
  .sidenav {
    height: 50%;
    margin-top:40vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .vendors{
    background: #ffffff;
    width:100%;
    height:50vh;
    margin-top:20px;
  }
  .vendors img{
    padding-top:5%;
    padding-left:8%;
    
  }
  .details{
    margin-left:5%;
    padding-top:2%;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #7d7d7d;
    
  }
  .details2{
      font-family: "PT Sans", Helvetica, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #7d7d7d;
    
  }
  #catering1{
    width:500px;
    margin-left:30%;
    margin-top:-5%;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #7d7d7d;
  }
  #learn_more{
    border:none;
    color: #fff;
    background-image: linear-gradient(to right, #fed267 0%, #cf9b48 100%);
      background-repeat: no-repeat;
      position: relative;
      transform: translateZ(0);
      border-radius: 4px;
      padding: 20px 24px;
     
      
  }
  @media screen and (max-height: 800px) {
    .vendors{
    background: #ffffff;
    width:100%;
    height:auto;
    margin-top:20px;
  }
  .vendors img{
    padding-top:5%;
    padding-left:8%;
    
  }
  .details{
    margin-left:5%;
    padding-top:2%;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #7d7d7d;
    
  }
  .details2{
      font-family: "PT Sans", Helvetica, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #7d7d7d;
    
  }
  #catering1{
    width:500px;
    margin-left:30%;
    margin-top:-5%;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #7d7d7d;
  }
  #learn_more{
    border:none;
    color: #fff;
    background-image: linear-gradient(to right, #fed267 0%, #cf9b48 100%);
      background-repeat: no-repeat;
      position: relative;
      transform: translateZ(0);
      border-radius: 4px;
      padding: 40px 24px;
     
      margin-left:6.5%;
  }
  }
  
  #learn_more:hover{
    
    background:#fed267;
      
  }
  
  
  #ppp{
    margin-left:130px;
  }
  
  @media screen and (max-height: 800px) {
    #ppp{
    margin: 80px;
  }
  }

  #header{
    background: #000000;
}
.banner{
    width:100%;
    height:60vh;
    background: url(img/13.png);
    background-size: cover;
    background-position: center;
}
#name-link h2:hover{
color:#e43c5c;
}
#name-link h2{
   font-size: 20px;
         line-height: 26px;
         font-weight: 600;
         color: #202428;
         display: inline-block;
}
.pagination{
  margin-left: 36%;
}
.gray-text {
color: #3c3c3e;
}
@media (min-width: 992px){
h3, .h3 {
line-height: 1.04167;
font-size: 48px;
}
}
@media (min-width: 768px){
h3, .h3 {
font-size: 34px;
}
}
h3, .h3 {
font-size: 28px;
line-height: 1.2;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
margin-top: 0;
margin-bottom: 0;
}
h3, .h3 {
font-size: 48px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
margin-bottom: 0.5rem;
font-family: "Garamond", serif;
font-weight: 700;
line-height: 1.1;
color: #474749;
}
html .page .offset-top-20 {
margin-top: 20px;
}
.page .text-gray-lighter {
color: #7d7d7d;
}
.list-inline-20 {
margin-left: -20px;
margin-right: -20px;
}
.list-inline-dashed li {
position: relative;
}
.list-inline-20 > li {
padding-left: 20px;
padding-right: 20px;
}
.list-inline > li {
display: inline-block;
padding-left: 5px;
padding-right: 5px;
}
ul li, ol li {
display: block;
}
*, *::before, *::after {
box-sizing: border-box;
}
user agent stylesheet
li {
display: list-item;
text-align: -webkit-match-parent;
}
.page .text-gray-lighter {
color: #7d7d7d;
}
.list-inline {
padding-left: 0;
list-style: none;
}
.list-inline-dashed li:after {
content: '';
position: absolute;
top: 50%;
right: -2px;
width: 1px;
height: 24px;
margin-top: 2px;
background: #c6c6c6;
transform: translateY(-50%);
}
.btn_1{
  padding-top:10px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:10px;
  margin-top:20%;
  filter:brightness(100%);
  
}
.btn_2{
  
  padding-top:10px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:10px;
  margin-top:20%;
  filter:brightness(100%);
}









.flip{
  position:absolute;
  width:250px;
  height:48px;
  perspective:500px;
  top:50%;
  left:35%;
  margin:-24px 0 0 -80px;
}
 
    .front,
    .back{
      margin:0;
      width:250px;
      height:48px;
      line-height:48px;
      position:absolute;
      text-align:center;;
      letter-spacing:.4em;
    }
    .front{
      background-color:#222;
      color:#fff;
      transform:rotateY(0) translateZ(24px);
    }
    .back{
      background-color:rgba(white,.0);
      color:rgba(#222,.0);
      transform:rotateX(90deg) translateZ(24px);
      overflow:hidden;
    }
      .back:after{
        content:'';
        position:absolute;
        top:-32%;
        left:-10%;
        width:120%;
        height:50%;
        background:#222;
        transform:rotate(8deg);
        transition all:.5s ease;
        transition-delay:.15s;
      }
    .back:hover{
      transform:translateZ(-24px) rotateX(-90deg);
    }
      .front{
        background:black;
        transition:all .8s ease;
      }
      .back{
        color:#222;
        transition:color .4s linear;
        background:white;
      }
        &:after{
          transform:rotate(6deg) translate(100px,-18px);
        }
    }






















    .flip2{
      position:absolute;
      width:250px;
      height:48px;
      perspective:500px;
      top:70%;
      left:40%;
      margin:-24px 0 0 -80px;
    }
     
        .front2,
        .back2{
          margin:0;
          width:250px;
          height:48px;
          line-height:48px;
          position:absolute;
          text-align:center;;
          letter-spacing:.4em;
        }
        .front2{
          background-color:#222;
          color:#fff;
          transform:rotateY(0) translateZ(24px);
        }
        .back2{
          background-color:rgba(white,.0);
          color:rgba(#222,.0);
          transform:rotateX(90deg) translateZ(24px);
          overflow:hidden;
        }
          .back2:after{
            content:'';
            position:absolute;
            top:-32%;
            left:-10%;
            width:120%;
            height:50%;
            background:#222;
            transform:rotate(8deg);
            transition all:.5s ease;
            transition-delay:.15s;
          }
        .back2:hover{
          transform:translateZ(-24px) rotateX(-90deg);
        }
          .front2{
            background:black;
            transition:all .8s ease;
          }
          .back2{
            color:#222;
            transition:color .4s linear;
            background:white;
          }
            &:after{
              transform:rotate(6deg) translate(100px,-18px);
            }
        }
    
    
